{% extends 'base.html.twig' %}
{% block body %}
    <section class="body">
        <div class="container-fluid slide">
            <div class="row slider">
                <div class="container">
                    <div class="row d-flex flex-row-reverse">
                        <div class="col-5 slide-item text-center">
                            <p class="slide-item-main-title">La Revue 2023</p>
                            <p class="slide-item-sub-title">"Mieux vaut Qatar que jamais"</p>
                            <button type="button" class="btn btn-outline-light m-2"><i
                                        class="icofont-info-circle"></i> En savoir plus</button>
                            <button type="button" class="btn btn-danger m-2"><i class="icofont-ticket"></i> Réserver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid sub-slide-title">
            <div class="row slide-sub-title text-center">
                <p class="slide-sub-title-text mt-3">La Saison 2022-2023</p>
            </div>
        </div>
        <div class="container-fluid season-slide justify-content-center text-center bg-black">
            <div class="row justify-content-center text-center">
                <div class="season-container col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="show1 text-center">
                        <div class="season-card-content">
                            <h1>Piège pour un homme seul</h1>
                            <h3>du 30/09 au 16/10</h3>
                        </div>
                    </div>
                </div>
               <div class="season-container col-12 col-sm-8 col-md-6 col-lg-4">
                   <div class="show2 text-center">
                       <div class="season-card-content">
                           <h1>La dégustation</h1>
                           <h3>du 11/11 au 27/11</h3>
                       </div>
                   </div>
               </div>
                <div class="season-container col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="show3 text-center">
                        <div class="season-card-content">
                            <h1>La Revue 2023</h1>
                            <h3>du 30/12 au 22/01/2023</h3>
                            <div class="on-air">
                                En ce moment!
                            </div>
                        </div>
                    </div>
                </div>
               <div class="season-container col-12 col-sm-8 col-md-6 col-lg-4">
                   <div class="show4 text-center">
                       <div class="season-card-content">
                           <h1>Sur un air de tango</h1>
                           <h3>du 17/03 au 02/04</h3>
                       </div>
                   </div>
               </div>
                <div class="season-container col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="show5 text-center">
                        <div class="season-card-content">
                            <h1>La nuit des dupes</h1>
                            <h3>du 19/05 au 11/06</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid twins">
            <div class="row">
                <div class="twin1 col-xl-6 ccol-lg-6 col-sm-12 col-12">
                    <div class="twin-content text-center">
                        <h2 class="twin-text">
                            Envie de rejoindre l'équipe des Molières & Mocassins?
                        </h2>
                        <button class="btn news-btn">Nous rejoindre</button>
                    </div>
                </div>
                <div class="twin2 col-6 col-lg-6 col-sm-12 col-12">
                    <div class="twin-content text-center">
                        <h2 class="twin-text">
                            La Revue 2023 pointe enfin le bout de son nez
                        </h2>
                        <button class="btn news-btn">Découvrir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid news">
            <div class="row">
                <div class="container">
                    <div class="row text-center news-section">
                        <p class="news-main-title mt-3">Actualités</p>
                    </div>
                    <div class="row justify-content-center mb-5">
                        {% for post in news %}
                            <div class="col-10 col-xl-2 col-lg-4 col-md-4 news-card h-100">
                                <div class="news-card-img">
                                    <img src="assets/img/news/{{ post.imageName }}" alt="">
                                    <div class="news-content">
                                        <p class="news-title">{{ post.title }}</p>
                                        <p class="news-text">{{ post.smallDescription[:80] ~ '...' }}</p>
                                        <p class="news-date">Publié le {{ post.createdAt|date('Y/m/d') }}</p>
                                        <div class="container-fluid news-bottom">
                                            <button class="btn news-btn">Lire l'article</button>
                                            <a href="" class="float-end mt-1">
                                                <i class="icofont-like"></i>
                                                12
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid quote">
            <div class="row text-center justify-content-center">
                <div class="col-10 col-lg-6">
                    <h3 class="quote-content">
                        <span class="quote-fx">"</span>Le théâtre est un indéniable outil de développement de
                        l'individu
                        . Il aide à
                        lever
                        certaines inhibitions, il optimise la créativité, il permet d'oublier le stress de la vie quotidienne,
                        il apprend à vivre ensemble puisqu'il est toujours une aventure collective.<span
                            class="quote-fx">"</span>
                    </h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}