{% block footer %}
    <!-- Footer -->
    <footer class="bg-black text-center text-white mt-5">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="icofont-instagram"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="icofont-email"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="icofont-facebook"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="icofont-blogger"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="icofont-youtube-play"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="icofont-radio"></i></a>
            </section>
            <!-- Section: Social media -->

            <!-- Section: Form -->
            <section class="">
                <form action="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>S'inscrire à notre newsletter</strong>
                            </p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-5 col-12">
                            <!-- Email input -->
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example21" class="form-control" />
                                <label class="form-label" for="form5Example21">Votre adresse mail</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-auto">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-light mb-4">
                                S'abonner
                            </button>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->

            <!-- Section: Text -->
            <section class="mb-4">
            </section>
            <!-- Section: Text -->

            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row justify-content-center">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
                        <div class="mapouter"><div class="gmap_canvas"><iframe width="270" height="201" id="gmap_canvas" src="https://maps.google.com/maps?q=Rue%20des%20Platicheus%20lodelinsart&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:201px;width:270px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:201px;width:270px;}</style></div></div>
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <img src="{{ asset('assets/img/sponsors/sponsors.jpg') }}" alt="">
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mt-2">Liens</h5>

                        <ul class="list-unstyled mb-0">
                            <li class="mb-3">
                                <a href="#!" class="text-white">Accueil</a>
                            </li>
                            <li class="mb-3">
                                <a href="#!" class="text-white">Spectacles</a>
                            </li>
                            <li class="mb-3">
                                <a href="#!" class="text-white">Réservations</a>
                            </li>
                            <li class="mb-3">
                                <a href="#!" class="text-white">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mt-2">Coordonnées</h5>

                        <ul class="list-unstyled mb-0">
                            <li class="mb-3">
                                <p><i class="icofont-road"></i> Rue des Platicheûs</p>
                            </li>
                            <li class="mb-3">
                                <p><i class="icofont-location-pin"></i> 6042 Lodelinsart</p>
                            </li>
                            <li class="mb-3">
                                <p><i class="icofont-email"></i> lesmolieres.et.mocassins@gmail.com</p>
                            </li>
                            <li class="mb-3">
                                <p><i class="icofont-phone-circle"></i> 0474/388.032</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © Copyright 2022-2023: Le Petit Théatre de la Ruelle (Développé par
            <a class="text-white" target="_blank" href="https://github.com/AnthonyDel28">A.Delmeire</a>)
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
{% endblock %}