{% block navbar %}
    <section class="header">
        <div class="container-fluid p-0">
            <div class="row nav-bar justify-content-between">
                <div class="col-3 align-middle m-3">
                    <p class="nav-title">Le Petit Théatre de la Ruelle</p>
                </div>
                <div class="col-3 nav-menu m-4">
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Spectacles</a></li>
                        <li><a href="#">Historique</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Réservation</a></li>
                    </ul>
                </div>
                <div class="col-3 nav-right-items m-4 d-flex justify-content-end">
                    <ul>
                        <li><a href=""><i class="icofont-login"></i> Connexion</a></li>
                        <li><a href=""><i class="icofont-search-2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
