
html a:hover {
    color: #b48413;
}

html {
    box-sizing: border-box;
}
/*---------------------------------------------------------*/

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.navbar h1 {
    font-size: 50px;
}

@media (max-width: 655px) {
    .navbar h1 {
        font-size: 45px;
    }
}

@media (max-width: 655px) {
    .navbar h1 {
        font-size: 35px;
        padding-top: 10px;
    }
}

@media (max-width: 486px) {
    .navbar h1 {
        font-size: 26px;
        padding-top: 20px;
    }
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    background: #000000;
    color: #ffffff;
    font-family: 'EB Garamond', serif;
    z-index: 100;
    height: 70px;
    top: 0;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
    margin-top: 15px;
}
.logo{
    order: 1;
    font-size: 2.3rem;
    margin-top: -20px;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.0rem;
    margin-top: -10px;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #a86600;
}

.alert {
    margin-top: 65px;
}

@media (max-width: 1234px){

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar h1 {
        margin-top: 5px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
    }

    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #000000;
        height: 100vh;
        width: 800px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        overflow: hidden;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .navbar h1{
        position: absolute;
        margin-top: -20px;
        left: 15px;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

@media (max-width: 487px) {
    .navbar h1{
        margin-top: -35px;
        left: 15px;
    }
}

.nav-img-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar .dropdown {
    margin-top: -25px;
    margin-left: 25px;
}

.navbar .dropdown-toggle {
    background-color: whitesmoke;
    color: black;
}

.navbar .dropdown-menu a{
    color: black;
}
/*---------------------------------------------------------------*/

.carousel {
    font-family: 'EB Garamond', serif;
    text-shadow: black 1px 0 10px;
}


.slide-sub-title {
    height: 60px;
    background-color: black;
}

.slide-sub-title-text {
    font-family: 'EB Garamond', serif;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 1139px) {
    .season-container {
        height: 260px;
        padding: 0;
        overflow: hidden;
        position: relative;
    }
}

@media (min-width: 1140px) {
    .season-container {
        height: 260px;
        width: 20%;
        padding: 0;
        overflow: hidden;
        position: relative;
    }
}

.show1 {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/season/show1.jpg");
    background-size: cover;
    filter: grayscale(40%);
    transition: all 1s;
}

.show2 {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/season/show2.jpg");
    background-size: cover;
    filter: grayscale(40%);
    transition: all 1s;
}

.show3 {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/season/show3.jpg");
    background-size: cover;
    filter: grayscale(40%);
    transition: all 1s;
}

.show4 {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/season/show4.jpg");
    background-size: cover;
    filter: grayscale(40%);
    transition: all 1s;
}

.show5 {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/season/show5.jpg");
    background-size: cover;
    filter: grayscale(40%);transition: all 1s;
}

.show1:hover,
.show2:hover,
.show3:hover,
.show4:hover,
.show5:hover {
    transform: scale(1.2);
}

.season-card-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.season-card-content h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-family: 'EB Garamond', serif;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.season-card-content h3 {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-family: 'EB Garamond', serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.on-air {
    background:    #ff0000;
    border-radius: 7px;
    padding:       2px 9px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 11px/1 "Open Sans", sans-serif;
    text-align:    center;
}

.twin1 {
    height: 500px;
    background-image: url("../assets/img/twins/twin1.jpg");
    background-size: cover;
}

.twin2 {
    height: 500px;
    background-image: url("../assets/img/twins/twin2.jpg");
    background-size: cover;
}

.twin-content {
    margin-top: 200px;
}

.twin-text {
    text-shadow: 1px 1px 1px black, 0 0 1em black, 0 0 0.2em black;
    font-family: 'EB Garamond', serif;
    color: white;
    font-weight: bold;
}

.news {
    background-color: whitesmoke;
}

.news-main-title {
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 3.5rem;
}

.card-img-top {
    height: 40%;
    object-fit: cover;
}

.home-news .card {
    height: 600px;
}

.card .card-home-news-body,
.card .card-home-news-body-bottom {
    background-color: black;
    color: white;
}

.card-home-news-body p
{
    font-size: 14px;
}

.card-home-news-body p,
.card-home-news-body h3 {
    font-family: 'EB Garamond', serif;
}

.card-home-news-body .card-home-news-date {
    color: darkgrey;
    margin-bottom: 0;
}

.quote {
    height: 500px;
    background-image: url("../assets/img/sections/subscribe_section.jpg");
    background-size: cover;
    background-position: 25% 68%;
    margin-bottom: -50px;
}

.quote-content {
    font-family: 'EB Garamond', serif;
    color: white;
    margin-top: 200px;
}

.quote-fx {
    font-size: 50px;
    color: white;
}

.sponsors {
    height: 10%;
    background-color: black;
}

.sponsor1 {
    background-image: url("../assets/img/sponsors/sponsor1.jpg");
    background-size: contain;
}

.sponsor2 {
    background-image: url("../assets/img/sponsors/sponsor2.jpg");
    background-size: contain;
}

footer * {
    font-family: 'EB Garamond', serif;
    color: white;
}


.carousel {
    background: #000000;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width:100%;
    height: 60vh;
    object-fit: cover;
}

/*
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
    display: block;
    width:100%;
}
