html,
body,
body .container-fluid,
body .container {
    background-color: whitesmoke;
}

.navbar,
.slider,
.season {
    background-color: whitesmoke;
}

.nav a {
    color: black;
}

.main-title {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.navbar hr {
    border: none;
    height: 3px;
    width: 50%;
    border-top: 2px solid #000000;
}

.order-button {
    background:    #cc0000;
    border-radius: 11px;
    padding:       10px 30px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 17px/1 "Open Sans", sans-serif;
    text-align:    center;
    text-decoration: none;
}

.vl {
    border-left: 1px solid black;
    height: 25px;
}

.order-button:hover {
    background: #6e0404;
    color:         #ffffff;

}


/*-----------------------------------------------------*/

.slider {
    border-radius: 20px;
}

.slider img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover; /* or object-fit: contain; */
    --bs-gutter-x: 0;
    border-radius: 20px;
}

body h1,
#moments-title {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-top: 25px;
}


#season-card {
    padding: 0;
}

.card-img-top {
    height: 30%;
    object-fit: cover;
}

.season {
    background-image: url("../assets/img/sections/season_section.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#season-section {
    background: none;
}


#season-button {
    margin-bottom: 20px;
}

.news {
    background-image: url("../assets/img/sections/news_section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.news-main-title {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-top: 25px;
    color: white;
}

#news-row {
    background: none;
}

#news-card {
    background: rgba(255, 255, 255, 0.77);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.68);
}

#news-card:hover {
    transform: scale(1.1);
}

#news-card .card-body {
    background: rgba(255, 255, 255, 0.77);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.68);
}

#news-card .card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#news-card h5,
#news-card p,
#news-card .text-muted,
#news-card .card-footer,
#news-card .card-footer .text-muted {
    color: black;
}

.memory-img {
    transition: transform 1s;
    overflow: hidden;
    object-fit: cover;
}

.memory-img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.footer-links a {
    text-decoration: none;
}

.media-icons a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 36px;
    background-color: #222222;
    color: #fff;
    padding: 10px 10px 10px 12px;
    text-decoration: none;
}

.media-icons a i {
    color: white;
}

footer h6 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

footer {
    border-radius: 25px;
}