/* CSS FILE FOR THE NEWS PAGE */

.news-main-title {
    margin-top: 200px;
}

.news-divider {
    margin-top: -30px;
}
@media (min-width: 992px) {
    .news-main-title {
        margin-top: 110px;
    }
}
@media (min-width: 1400px) {
     .news-divider {
        margin-top: -50px;
    }
}

.first-header-news h2,
.news-head-subtitle{
    font-family: 'EB Garamond', serif;
}


.big-news-header {
    height: 450px;
    border-radius: 15px;
    color: #FFFFFF;
}

.twins-news-header {
    border-radius: 15px;
    height: 300px;
    width: 49%;
    background-color: #1f5b83;
}

.big-news-header,
.twins-news-header {
    padding: 0;
}

@media (max-width: 950px) {
    .twins-news-header {
        width: 100%;
        margin-bottom: 25px;
    }
}

.second-header-news {
    margin-top: 20px;
    border-radius: 15px;
}

.news-post-card {
    height: 350px;
    margin-bottom: 25px;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.news-post-card img,
.big-news-header img,
.twins-news-header img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.all-news-container {
    padding-right: 0;
}

.main-news-overlay {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.24693627450980393) 79%, rgba(0,0,0,0.6699054621848739) 100%);
}


.all-news-overlay {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.24693627450980393) 28%, rgba(0,0,0,0.8743872549019608) 100%);
}