/* CSS FILE FOR THE NEWS PAGE */


.news {
    font-family: 'EB Garamond', serif;
    background-color: white;
    color: black;
    margin-top: 65px;
    padding-top: 70px;
}

.news .divider {
    margin-top: -65px;
}

@media (max-width: 1400px) {
    .news .divider {
        margin-top: -40px;
    }
}

@media (max-width: 999px) {
    .news .divider {
        margin-top: -20px;
    }
}

.news-container {
    margin-top: -120px;
}

.news-post-card {
    background-color: black;
}

.news-post-card-img {
    height: 10%;
    width: 100%;
    object-fit: cover;
}

.news-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.news-post-content {
    color: white;
}

.news-title {
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 1.8rem;
}

.news-text {
    color: white;
    font-family: 'EB Garamond', serif;
}

.news-date {
    color: darkgrey;
    font-size: 0.6rem;
}

.news-btn {
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 14px;
    background-color: #FFFFFF;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
}

.news-btn:hover {
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 14px;
    background-color: #0c0c0c;
    padding: 10px 30px;
    border-radius: 50px;
}

.news-bottom a {
    text-decoration: none;
    color: whitesmoke;
}
