/* CSS FILE FOR THE NEWS PAGE */


.news {
    font-family: 'EB Garamond', serif;
    background-color: white;
    color: black;
    margin-top: 65px;
    padding-top: 50px;
}

@media (max-width: 990px) {
    .news {
        margin-top: 120px;
        padding-top: 120px;
    }
}

.news .divider {
    margin-top: -65px;
    margin-bottom: 60px;
}

@media (max-width: 1400px) {
    .news .divider {
        margin-top: -40px;
    }
}

@media (max-width: 999px) {
    .news .divider {
        margin-top: -20px;
    }
}

.news-container {
    margin-top: -120px;
}

.big-news-header {
    height: 450px;
    background-color: green;
}

@media (min-width: 950px) {
    .twins-news-header {
        height: 300px;
        width: 49%;
        background-color: #1f5b83;
    }
}

.second-header-news {
    margin-top: 20px;
}

.news-post-card {
    height: 350px;
    margin-bottom: 25px;
    background-color: red;
    position: relative;
    overflow: hidden;
}

.news-post-card img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.all-news-container {
    padding-right: 0;
}
