/* CSS FILE FOR THE USER PROFILE PAGE */

.profile {
    background-image: url("../assets/img/sections/register.jpg");
    background-repeat: no-repeat;
    background-color: black;
    color: whitesmoke;
    font-family: 'EB Garamond', serif;
    margin-bottom: -50px;
}

.profile-section {
    height: auto;
    background-color: black;
    margin-top: 150px;
    margin-bottom: 100px;
}

@media (max-width: 992px) {
    .profile-section {
        margin-top: 300px;
    }
}

.img-profile img {
    border-radius: 50%;
    object-fit: cover;
    height: 400px;
    width: 400px;
}
