/* CSS FILE for the login Page */


.login {
    background-image: url("../assets/img/sections/register.jpg");
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'EB Garamond', serif;
    color: whitesmoke;
    height: 100vh;
}

.login-form {
    padding-top: 150px;
    padding-bottom: 150px;
}

@media (max-width: 1000px) {
    .login-form {
        padding-top: 200px;
    }
}

.divider img {
    width: 150%;
    margin-top: -30px;
}

@media (min-width: 1200px) {
    .divider img {
        margin-top: -50px;
    }
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}




.modal .modal-dialog-aside{
    width: 350px; max-width:80%; height: 100%; margin:0;transform: translate(0); transition: transform .2s;
    background-color: black;
}
.modal .modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0; background-color: black;}
.modal .modal-dialog-aside .modal-content .modal-body{ overflow-y: auto }
.modal.fixed-left .modal-dialog-aside{ margin-left:auto;  transform: translateX(100%); }
.modal.fixed-right .modal-dialog-aside{ margin-right:auto; transform: translateX(-100%); }
.modal.show .modal-dialog-aside{ transform: translateX(0);  }