/* CSS FILE FOR THE RESERVATION PAGE */


.informations {
    height: auto;
    color: black;
    background-color: whitesmoke;
}

.informations p {
    font-size: 25px;
}

.prices {
    height: auto;
    color: black;
    background-color: whitesmoke;
}

table {
    font-size: 25px;
    color: black;
    margin-top: 100px;
}

table td,
table th {
    color: black;
}

.phone {
    color: #6C4007;
    font-size: 65px;
}