{% extends 'admin/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/users.css') }}">
{% endblock %}
{% block body %}
    <div class="col-12 col-sm-12 col-lg-10 col-xl-10">
        <h2 class="my-5 text-center">Ajouter un utilisateur</h2>
        <p class="text-center" style="color: red;">
            <i class="icofont-warning-alt"></i> Attention! <i class="icofont-warning-alt"></i> <br>
           Par soucis de sécurite, les nouveaux utilisateurs ont tous les role "USER", une personne mal intentionnée
            avec des droits d'utilisateur trop avancés pourrait nuire au bon fonctionnement de l'application!
        </p>
        {{ form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-outline-secondary">Ajouter l'utilisateur</button>
        {{form_end(form)}}
    </div>
{% endblock %}